<% layout('layouts/boilerplate') %>
    <form method="POST" action="/bahan/<%= bahan._id %>?_method=PATCH">
        <div class="form-group">
            <label for="namaBahan">Nama Bahan</label>
            <input type="text" class="form-control" id="namaBahan" name="bahan[namaBahan]"
                value="<%= bahan.namaBahan %>" required>
        </div>
        <div class="form-group">
            <label for="stokBahan">Stok Bahan</label>
            <input type="number" class="form-control" id="stokBahan" name="bahan[stokBahan]"
                value="<%= bahan.stokBahan %>" min="0" required>
        </div>
        <div class="form-group">
            <label for="expiredDate">Expired Date</label>
            <input type="date" class="form-control" id="expiredDate" name="bahan[expiredDate]"
                value="<%= moment(bahan.expiredDate).format('YYYY-MM-DD') %>" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>