<% layout('layouts/boilerplate') %>
    <%- include('../partials/navbar-addProduk') %>
        <!-- Begin page -->
        <!-- Form row -->
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" id="Informasi">
                        <h4 class="header-title">Tambah Produk | Informasi Produk</h4>

                        <form action="/admin/produk/new" method="POST" enctype="multipart/form-data">
                            <ul>
                                <div class=" mt-4 mb-3 mt-3 row">
                                    <li>
                                        <div class="text">
                                            <label for="text" class="col-sm-2 col-form-label">Nama
                                                Produk</label>
                                        </div>
                                        <div class="col-sm-10">

                                            <input name="produk[namaProduk]" required type="text" class="form-control "
                                                id="floatingInput" placeholder="masukan nama Produk"
                                                style="margin-left: 22vh; margin-top: -5vh;">
                                        </div>
                                    </li>
                                </div>

                                <div class="mt-4 mb-3 row">
                                    <li>
                                        <label for="exampleFormControlTextarea1"
                                            class="col-sm-2 col-form-label">Deskripsi
                                            Produk</label>
                                        <div class="col-sm-10">
                                            <textarea name="produk[deskripsi]" required class="form-control"
                                                placeholder="masukan deskripsi produk" id="floatingTextarea2"
                                                style="height: 100px; margin-left: 22vh; margin-top: -5vh;"></textarea>
                                        </div>
                                    </li>
                                </div>
                                <div class="mt-4 mb-3 row">
                                    <li>
                                        <label for="text" class="col-sm-2 col-form-label">Jenis
                                            Pemasanan</label>
                                        <div class="col-sm-10" style="margin-top: -30px;">
                                            <div class="form-check form-check-inline" style="margin-left: 22vh;">
                                                <input class="form-check-input" type="radio"
                                                    name="produk[jenisPemesanan]" required id="inlineRadio1"
                                                    value="Pre-Order">
                                                <label class="form-check-label" for="inlineRadio1">Pre
                                                    Order</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="produk[jenisPemesanan]" required id="inlineRadio2"
                                                    value="Ready">
                                                <label class="form-check-label" for="inlineRadio2">Ready</label>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <div class="mt-4 mb-3 row">
                                    <li>
                                        <label for="text" class="col-sm-2 col-form-label">Kategori</label>
                                        <div class="col-sm-10" style="margin-top: -30px;">
                                            <div class="form-check form-check-inline" style="margin-left: 22vh;">
                                                <input type="radio" name="produk[kategori]" required id="rotiM"
                                                    value="Roti" required="" class="form-check-input">
                                                <label for="rotiM">Roti</label>
                                            </div>
                                            <div class="form-check form-check-inline" style="margin-left: 5vh;">
                                                <input type="radio" name="produk[kategori]" required id="jajanF"
                                                    value="Snack" class="form-check-input">
                                                <label for="jajanF">Jajanan</label>
                                            </div>
                                            <div class="form-check form-check-inline" style="margin-left: 5vh;">
                                                <input type="radio" name="produk[kategori]" required id="nasiA"
                                                    value="Nasi" class="form-check-input">
                                                <label for="nasiA">Nasi</label>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <div class="mt-4 mb-3 row">
                                    <li>
                                        <div class="text">
                                            <label for="text" class="col-sm-2 col-form-label">Bobot
                                                Produk</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <input name="produk[bobotTenaga]" required type="text" class="form-control "
                                                id="floatingInput" placeholder="27"
                                                style="margin-left: 22vh; margin-top: -5vh;">
                                        </div>
                                    </li>
                                </div>
                                <div class="mt-4 mb-3 row">
                                    <li>
                                        <div class="text">
                                            <label for="text" class="col-sm-2 col-form-label">Foto
                                                Produk</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group" style="margin-left: 22vh; margin-top: -5vh;">
                                                <input type="file" class="form-control" id="image"
                                                    aria-describedby="inputGroupFileAddon04" name="gambar" multiple
                                                    aria-label="Upload">
                                                <span class="input-group-text">
                                                    <i class="fas fa-camera"></i>
                                                </span>
                                            </div>
                                            <span class="dimensi">Remokendasi Dimensi Adalah 1920px X
                                                700px Dengan Format .jpg , .Png</span>
                                        </div>
                                    </li>
                                </div>
                                <div class="mt-4 row">
                                    <div class="row">
                                        <div class="col-xl-3">
                                            <li>
                                                <div>
                                                    <label for="text" class="form-label">Harga
                                                        Produk</label>
                                                    <input name="produk[hargaProduk]" required class="form-control"
                                                        type="text" id="text"
                                                        style="margin-left: 22vh; margin-top: -5vh;">
                                                </div>
                                            </li>
                                        </div>
                                        <div class="col-xl-3" style="margin-left:24vh;">
                                            <li>
                                                <div>
                                                    <label for="text" class="form-label">Stok</label>
                                                    <input name="produk[stok]" required class="form-control" type="text"
                                                        id="text" style="margin-left: 8vh; margin-top: -5vh;">
                                                </div>
                                            </li>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary mt-4">Submit</button>
                                </div>
                            </ul>
                        </form>
                    </div> <!-- end card-body -->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" id="rincian">
                    </div>
                </div>
            </div>
        </div>

        </div>
        <!-- end page title -->



        </div> <!-- container -->

        </div> <!-- content -->