<% layout('layouts/boilerplate') %>
    <form method="POST" action="/admin/bahan/new">
        <div class="form-group">
            <label for="namaBahan">Nama Bahan</label>
            <input type="text" class="form-control" id="namaBahan" name="bahan[namaBahan]" required>
        </div>
        <div class="form-group">
            <label for="stokBahan">Stok Bahan</label>
            <input type="number" class="form-control" id="stokBahan" name="bahan[stokBahan]" min="0" required>
        </div>
        <div class="form-group">
            <label for="satuan">Satuan</label>
            <select class="form-control" id="satuan" name="bahan[satuan]">
                <option value="kg">Kilogram (kg)</option>
                <option value="gr">Gram (gr)</option>
                <option value="ons">Ons</option>
                <option value="ml">Mililiter (ml)</option>
                <option value="liter">Liter</option>
                <option value="pcs">Pieces (pcs)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="expiredDate">Expired Date</label>
            <input type="date" class="form-control" id="expiredDate" name="bahan[expiredDate]" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <form method="POST" action="/submit-resep">
        <div id="bahanContainer" class="mt-5">
            <!-- Placeholder untuk elemen input bahan -->
        </div>

        <button type="button" onclick="tambahBahan()">Tambah Bahan</button>
        <button type="button" onclick="hapusBahan()">Hapus Bahan</button>

        <button type="submit">Submit</button>
    </form>

    <script>
        let bahanCount = 0;

        function tambahBahan() {
            const container = document.getElementById('bahanContainer');

            const bahanInput = document.createElement('input');
            bahanInput.type = 'text';
            bahanInput.name = `bahan[${bahanCount}][namaBahan]`;
            bahanInput.placeholder = 'Nama Bahan';

            container.appendChild(bahanInput);

            bahanCount++;
        }

        function hapusBahan() {
            if (bahanCount > 0) {
                const container = document.getElementById('bahanContainer');
                container.removeChild(container.lastChild);

                bahanCount--;
            }
        }
    </script>