@import url('link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet"');

.dimensi{
	color: #8D8E9A;
	font-size: 13px;
}

.logos{
	font-family: 'Roboto', sans-serif;
	color: #2B2F42;
	font-size: 20px;
}