<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <form action="/download-file" method="post">
    <input placeholder="enter or paste url" name="url" type="text" required/> <br/>
    <input placeholder="enter file name" name="name" type="text" required/> <br/>
    <input placeholder="enter protocol" name="protocol" type="text" required/> <br/>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </form>
</body>

</html>
