<%- include('template/cabecera',{tituloweb : 'Servicios ' })  %>

    <!--Cuando le ponemos el ejsout es para escribir la variable que creamos-->
    <h1><%= tituloServicios %></h1>
    
<%- include('template/footer') %>