
<%- include("partials/_nav")  %>
    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row">
            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1 class="mt-4">Dashboard</h1>
                <p>Hoş geldiniz, admin!</p>
            </main>
        </div>
    </div>

    <%- include("partials/_footer")  %>

