<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"><%=blogMain.title %></h5>
            <h1 class="display-4"><%=blogMain.titleLine %></h1>
        </div>
        <div class="row g-5">
          <%- include("_item") %>
        </div>
    </div>
</div>