<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnesCraft</title>
</head>
<body>
    <center><img src="EnesCraft.png"></center>
    <hr>
    <br>
    <center>
        <p>
            EnesCraft Ana Web Sitesine Hoş Geldiniz! <br><br>

            EnesCraft Launcher İndirme Linki:
            <a href="EnesCraft.jar">İndir!</a>
            <br>
            <br>
            EnesCraft UGT (Kullanıcı Tarafından Oluşturulan Texture Pack) Bakmak İçin <a href="/ugt">Buraya Tıklayın</a>
            <br>
            <br>
            Kayıtlı Oyuncular : <%= user.length %>
        </p>
    </center>
</body>
</html>