<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnesCraft - UGT</title>
</head>
<body>
    <center>Ana Menü : <a href="/">İçin Tıkla</a>
        <br>
        <% item.forEach(ugt => { %>
            <br>
            <li>
                Adı : <%= ugt.name %>
                <br>
                <br>
                Bakmak İçin <a href="/ugt=<%= ugt.id %>">Tıklayın</a>
            </li>
        <% }) %>
    
    </center>
    
</body>
</html>