<div class="col-lg-3 col-md-6">
    <h1 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">kontakt</h1>
    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>Deutsch-Aserbaidschanischer-Medizinerverband e.V.
        Postfach 61 01 67
        
        30601 Hannover, Deutschland</p>
    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>info@damvev.de</p>
    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+012 345 67890</p>
</div>
