<nav class="navbar   navbar-expand-lg bg-depth-4 navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quanifield</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>