@import url('link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&family=Roboto&display=swap" rel="stylesheet"');

.dimensi {
	color: #8D8E9A;
	font-size: 12px;
	margin-left: 22vh;
}

.pagination-detail {
	display: none;
}

.logos {
	font-family: 'Roboto', sans-serif;
	color: #2B2F42;
	font-size: 20px;
}

.point {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.2);
}