extends base
block content
    div.login-form-wrapper
        div.login-form
            if errorMessage
                p(style="color: red;")=errorMessage
                br
            h3.title-name ☕Change Password
            form(method="POST").row.g-3
                div.col-12
                    label(for="inputPassword").form-label Old Password
                    input(type="password" placeholder="Old Password" name="old" required).form-control#inputPassword
                div.col-12
                    label(for="inputPassword2").form-label New Password
                    input(type="password" placeholder="Password" name="newPassword" required).form-control#inputPassword2
                div.col-12
                    label(for="inputPasswordConfirm").form-label New Confirmation Password
                    input(type="password" placeholder="Confirmation Password" name="newPasswordConfirmation" required).form-control#inputPasswordConfirm
                div.col-12
                    button(type="submit").btn.btn-primary Change