

<a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="<%=icons.className.fb%>"></i></a>
<a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="<%=icons.className.tw%>"></i></a>
<a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="<%=icons.className.ln%>"></i></a>