<div class="container">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="searchDropdown" data-bs-toggle="dropdown"
      aria-expanded="false">
      Search
    </button>
    <ul class="dropdown-menu" aria-labelledby="searchDropdown">
      <li>
        <form class="px-4 py-3">
          <div class="mb-3">
            <label for="searchInput" class="form-label">Search:</label>
            <input type="text" class="form-control" id="searchNewsInput" placeholder="Enter keyword">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <div class="SearchdropdownMenu">
        <li><a class="dropdown-item" href="#">Option 1</a></li>
        <li><a class="dropdown-item" href="#">Option 2</a></li>
        <li><a class="dropdown-item" href="#">Option 3</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
      </div>

      <li><a class="dropdown-item" href="#">Advanced Search</a></li>
    </ul>
  </div>
</div>