div(data-bs-ride="carousel")#carouselExampleSlidesOnly.carousel.slide
    div.carousel-inner
        div.carousel-item.active
            img(src="/image/subBanner.png" alt="image" height="200").d-block.w-100
        div.carousel-item
            img(src="/image/subBanner2.png" alt="image" height="200").d-block.w-100