<% for(var i=0; i < itemQualifield.doctors.length; i++) { %>
<div class="team-item">
    <div class="row g-0 bg-light rounded overflow-hidden">
        <div class="col-12 col-sm-5 h-100">
            <img class="img-fluid h-100" src="img/team-1.jpg" style="object-fit: cover;">
        </div>
        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
            <div class="mt-auto p-4">
                <h3><%=itemQualifield.doctors[i].doctorName%></h3>
                <h6 class="fw-normal fst-italic text-primary mb-4"><%=itemQualifield.doctors[i].job%></h6>
                <p class="m-0"><%=itemQualifield.doctors[i].jobAbout%></p>
            </div>
            <div class="d-flex mt-auto border-top p-4">
                <%- include("../UI/_icon") %>
            </div>
        </div>
    </div>
</div>
<% } %>