<div class="row">
  <div class="col-7">
    <ul class="nav nav-pills navtab-bg">
      <li class="nav-item">
        <a
          href="#semua"
          data-bs-toggle="tab"
          aria-expanded="false"
          class="btn btn-outline-warning waves-effect waves-light rounded"
        >
          Semua
        </a>
      </li>
      <li class="nav-item px-2">
        <a
          href="#roti"
          data-bs-toggle="tab"
          aria-expanded="true"
          class="btn btn-outline-warning waves-effect waves-light rounded"
        >
          <i class="fas fa-bread-slice me-2"></i>Roti
        </a>
      </li>
      <li class="nav-item px-2">
        <a
          href="#nasi"
          data-bs-toggle="tab"
          aria-expanded="false"
          class="btn btn-outline-warning waves-effect waves-light rounded"
        >
          <i class="fa-solid fa-bowl-rice me-2"></i>
          <i class="fa-solid fa-cookie me-2"></i>Nasi & Jajanan
        </a>
      </li>
    </ul>
  </div>
  <div class="col-5">
    <div class="page-title-box">
      <div class="col-7" style="display: inline-block">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          id="searchInput"
        />
      </div>
      <div
        class="input-group"
        style="padding-top: 20px; margin-left: 10px; display: inline"
      >
        <button type="button" class="btn btn-warning text-white">Cari</button>
        <button type="button" class="btn btn-warning" style="margin-left: 4px">
          <i data-feather="refresh-cw" class="icon-dual text-white"></i>
        </button>
      </div>
    </div>
  </div>
</div>
