<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/Toko/favicon.ico">

        <!-- App css -->
        <link href="../assets/css/config/default/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
        <link href="../assets/css/config/default/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
        <link href="../assets/css/config/default/app.css" rel="stylesheet" type="text/css"  />

        <link href="../assets/css/config/default/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
        <link href="../assets/css/config/default/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

        <!-- icons -->
        <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- CSS -->
        <link rel="stylesheet" href="../assets/css/css_toko/style.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <body>

        <div class="auth-fluid">
            <!--Auth fluid left content -->
            <div class="auth-fluid-form-box">
                <div class="align-items-center d-flex">
                    <div class="card-body mt-5">

                        <!-- title-->
                        <h4 class="mt-0">Masuk Akun</h4>
                        <p class="text-muted mb-4">Masukkan email dan password akun anda disini.</p>

                        <!-- form -->
                        <form action="#">
                            <div class="mb-3">
                                <label for="emailaddress" class="form-label">Email</label>
                                <input class="form-control" type="email" id="emailaddress" placeholder="Masukkan email anda.">
                            </div>
                            <div class="mb-3">
                                <a href="auth-recoverpw-2.html" class="text-muted float-end"><small>Lupa sandi anda?</small></a>
                                <label for="password" class="form-label">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control" placeholder="Masukkan password anda.">
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="text-center d-grid">
                                <button class="btn text-white" style="background-color: #FAA424;" type="submit">Log In </button>
                            </div>
                            <!-- social-->
                            <div class="text-center mt-4">
                                <p class="text-muted font-16">- OR -</p>
                                <a href="" type="text" class="form-control">
                                    <img src="../assets/images/icon_google.png" alt="" width="25" heigt="25" class=""><span class="google" >Lanjutkan dengan Google</span>
                                </a>
                            </div>

                            <footer class="footer-alt mt-5 text-center">
                                <p class="text-muted" style="margin-left: -25vh;">Belum punya akun? <a href="register.html" class="ms-1" style="color: #FAA424;">
                                <b> Buat akun disini.</b></a></p>
                            </footer>

                        </form>
                        <!-- end form-->

                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>
            <!-- end auth-fluid-form-box-->

            <!-- Auth fluid right content -->
            <div class="auth-fluid-right" style="background-color: #FAA424;">
                <img src="../assets/images/Toko/logo.png" width="70" height="70" style="float: right;">
                <h2 class="text-white text-end" style="margin-top: 15vh;">Temukan Rasa Baru di Ini Toko</h2>
                    <p class="text-end">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, quo aliquid. Omnis natus sapiente, suscipit impedit reprehenderit quas laudantium numquam! Deserunt facilis cumque, ea voluptates quasi fuga. Eligendi autem minus, deserunt mollitia expedita nihil et eaque in numquam inventore vitae aperiam aut dicta ea fugiat. Ipsam repudiandae enim fuga accusamus.
                    </p>

                <div class="gambar_kue" >
                    <img src="../assets/images/cake.png" height="100" width="150"style="margin-left: 40vh; margin-top: 5vh">
                    <img src="../assets/images/cake.png" height="80" width="110" style="margin-left: 85vh; margin-top: 10vh;">
                    <img src="../assets/images/cake.png" height="50" width="70" style="margin-left: 45vh;"">
                </div>
            </div>
            
        </div>
        <!-- end auth-fluid-->

        <!-- Vendor js -->
        <script src="../assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="../assets/js/app.min.js"></script>
        
    </body>
</html>
