<!DOCTYPE html>
<html lang="en">


<!-- molla/product.html  22 Nov 2019 09:54:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IniToko</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
   
    <link rel="manifest" href="../assets/LandingPage/assets/images/icons/site.html">
    <link rel="mask-icon" href="../assets/LandingPage/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="../assets/images/Toko/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="../assets/LandingPage/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="../assets/LandingPage/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/LandingPage/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../assets/LandingPage/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="../assets/LandingPage/assets/css/style.css">
    <link rel="stylesheet" href="../assets/LandingPage/assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="../assets/LandingPage/assets/css/skins/skin-demo-4.css">
    <link rel="stylesheet" href="../assets/LandingPage/assets/css/demos/demo-4.css">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-intro-clearance header-4">
         

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="index.html" class="logo">
                            <img src="../assets/LandingPage/assets/images/demos/demo-4/kue_logo.png" alt="Molla Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        
                        <div class="wishlist">
                            <a href="#" title="Wishlist">
                                <div class="icon">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-count badge">3</span>
                                </div>
                                <p>Wishlist</p>
                            </a>
                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="fa-regular fa-user" style="color: #000000;"></i>
                                    <span class="cart-count">2</span>
                                </div>
                                <p>Cart</p>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            
                                        </div><!-- End .product-cart-details -->

                                    </div><!-- End .product -->

                                </div><!-- End .cart-product -->

                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->


            <div class="header-bottom sticky-header">
                <div class="container">
                

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="#" class="sf-with-ul">Home</a>

                                    <div class="megamenu demo">
                                        <div class="menu-col">
                                            <div class="demo-list">
                                                

                                            </div><!-- End .demo-list -->

                                         
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .megamenu -->
                                </li>

                                <li>
                                    <a href="category.html" class="sf-with-ul">Produk</a>

                                    <div class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            
                                                        </div><!-- End .col-md-6 -->

                                                        <div class="col-md-6">
                                                            
                                                        </div><!-- End .col-md-6 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->

                                           
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-md -->
                                </li>

                                <li>
                                    <a href="#" class="sf-with-ul">Pemesanan</a>

                                    <ul>
                                        <li><a href="blog.html">Classic</a></li>
                                        <li><a href="blog-listing.html">Listing</a></li>
                                        <li>
                                            <a href="#">Grid</a>
                                            <ul>
                                                <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                                <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                                <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                                <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Masonry</a>
                                            <ul>
                                                <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                                <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                                <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                                <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Mask</a>
                                            <ul>
                                                <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                                <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Single Post</a>
                                            <ul>
                                                <li><a href="single.html">Default with sidebar</a></li>
                                                <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                                <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">Kontak</a>

                                    <ul>
                                        <li><a href="elements-products.html">Products</a></li>
                                        <li><a href="elements-typography.html">Typography</a></li>
                                        <li><a href="elements-titles.html">Titles</a></li>
                                    </ul>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->

                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Produk</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Rincian Produk</li>
                    </ol>

                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" data-zoom-image="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <a class="product-gallery-item active" href="#" data-image="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" data-zoom-image="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png">
                                                <img src="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" alt="product side">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" data-zoom-image="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png">
                                                <img src="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" alt="product cross">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" data-zoom-image="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png">
                                                <img src="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" alt="product with model">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" data-zoom-image="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png">
                                                <img src="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" alt="product back">
                                            </a>
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title">Roti Maryam</h1><!-- End .product-title -->

                                    <div class="product-price">
                                        <h5 class="text-warning">Rp.70.000</h5>
                                    </div><!-- End .product-price -->
                                    <div class="mb-2">
                                        <p>Terjual : 5</p>
                                    </div>
                                    <div class="product-content">
                                        <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing. Sed lectus. </p>
                                    </div><!-- End .product-content -->


                                    <div class="product-details-action">
                                        <a href="#" class="btn-product btn-warning btn-cart"><span class="text-white">Pesan Sekarang</span></a>

                                        <div class="details-action-wrapper">
                                            <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                        </div><!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Kategori:</span>
                                            <a href="#">Roti</a>
                                        </div><!-- End .product-cat -->

                                        <div class="social-icons social-icons-sm">
                                            <span class="social-label">Share:</span>
                                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                        </div>
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Deskripsi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Informasi Tambahan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Pengiriman & Pengembalian</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews Produk (2)</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Informasi Produk</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                                    <ul>
                                        <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                        <li>Vivamus finibus vel mauris ut vehicula.</li>
                                        <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                                    </ul>

                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>Informasi Tambahan</h3>
                                    <p>Sangat penting untuk memiliki pelanggan yang baik,penyedia layanan pelanggan.
                                    Kami melayani chat selama senin-jumat pukul 08.00-17.00 WIB</p>

                                    <h3>Kain dan Perawatan</h3>
                                    <ul>
                                        <li>Faux suede fabric</li>
                                        <li>Pegangan lingkaran logam dan kain emas.</li>
                                        <li>Tali lintas tubuh yang bisa disesuaikan</li>
                                        <li> Panjang: 31cm; Lebar: 32cm; Kedalaman: 12cm;</li>
                                    </ul>

                                    <h3>Size</h3>
                                    <p>one size</p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                                <div class="product-desc-content">
                                    <h3>Pengiriman & Pengembalian</h3>
                                    <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                    We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                <div class="reviews">
                                    <h3>Reviews Produk (2)</h3>
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">Fika J.</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">6 days ago</span>
                                            </div><!-- End .col -->
                                            <div class="col">
                                                <h4>Barang Berkualitas, Ukuran Pas</h4>

                                                <div class="review-content">
                                                    <p>Tukar baju sangat bagus kualitasnya juga bukan main</p>
                                                </div><!-- End .review-content -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->

                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">John Doe</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">5 days ago</span>
                                            </div><!-- End .col -->
                                            <div class="col">
                                                <h4>Sangat Bagus</h4>

                                                <div class="review-content">
                                                    <p>Barang bukan murahan</p>
                                                </div><!-- End .review-content -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->
                                </div><!-- End .reviews -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->

                    <h2 class="title text-center mb-4">Kamu Pasti Suka</h2><!-- End .title text-center -->

                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="product.html">
                                    <img src="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" alt="Product image" class="product-image">
                                </a>

                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                
                                <h3 class="product-title"><a href="product.html">Nasi Udon</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <h5 class="text-warning mt-2">Rp.70.000</h5>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <a href="#" class="banner-link mt-2">Tawar<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                         <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="product.html">
                                    <img src="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" alt="Product image" class="product-image">
                                </a>

                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                
                                <h3 class="product-title"><a href="product.html">Nasi Udon</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <h5 class="text-warning mt-2">Rp.70.000</h5>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <a href="#" class="banner-link mt-2">Tawar<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                         <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="product.html">
                                    <img src="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" alt="Product image" class="product-image">
                                </a>

                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                
                                <h3 class="product-title"><a href="product.html">Nasi Udon</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <h5 class="text-warning mt-2">Rp.70.000</h5>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <a href="#" class="banner-link mt-2">Tawar<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                         <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="product.html">
                                    <img src="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" alt="Product image" class="product-image">
                                </a>

                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                
                                <h3 class="product-title"><a href="product.html">Nasi Udon</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <h5 class="text-warning mt-2">Rp.70.000</h5>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <a href="#" class="banner-link mt-2">Tawar<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                         <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="product.html">
                                    <img src="../assets/LandingPage/assets/images/demos/demo-4/products/nasi.png" alt="Product image" class="product-image">
                                </a>

                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                
                                <h3 class="product-title"><a href="product.html">Nasi Udon</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <h5 class="text-warning mt-2">Rp.70.000</h5>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <a href="#" class="banner-link mt-2">Tawar<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
          
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="../assets/LandingPage/assets/images/demos/demo-4/kue_logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, in?</p>
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Link Cepat</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">Tentang Tukerin</a></li>
                                    <li><a href="#">Kontak Kami</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Pelayanan Pelanggan</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Metode Pembayaran</a></li>
                                    <li><a href="#">Pengembalian</a></li>
                                    <li><a href="#">Pengiriman</a></li>
                                    <li><a href="#">Persyaratan dan Kondisi</a></li>
                                    <li><a href="#">Keamanan Pribadi</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Akun Saya</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="cart.html">Keranjang Saya</a></li>
                                    <li><a href="#">Wishlist Saya</a></li>
                                    <li><a href="#">Lacak Pengiriman</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2023 Tukerin . All Rights Reserved.</p><!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="../assets/LandingPage/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


    <!-- Plugins JS File -->
    <script src="../assets/LandingPage/assets/js/jquery.min.js"></script>
    <script src="../assets/LandingPage/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/LandingPage/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="../assets/LandingPage/assets/js/jquery.waypoints.min.js"></script>
    <script src="../assets/LandingPage/assets/js/superfish.min.js"></script>
    <script src="../assets/LandingPage/assets/js/owl.carousel.min.js"></script>
    <script src="../assets/LandingPage/assets/js/bootstrap-input-spinner.js"></script>
    <script src="../assets/LandingPage/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="../assets/LandingPage/assets/js/bootstrap-input-spinner.js"></script>
    <script src="../assets/LandingPage/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="../assets/LandingPage/assets/js/main.js"></script>
</body>


<!-- molla/product.html  22 Nov 2019 09:55:05 GMT -->
</html>